<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bai.foryou" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_liquor"
        android:label="小醉"
        android:theme="@style/AppTheme" >
        <activity

            android:name=".activity.SentenceActivity"
            android:label="@string/title_activity_sentence" >
        </activity>
        <activity
            android:name=".activity.MusicActivity"
            android:label="@string/title_activity_music" >
        </activity>

        <service
            android:name=".Service.MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activity.ContentActivity"
            android:label="@string/title_activity_content" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" >

        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:label="小醉" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

